# Ignore these files
*.class
*.pyc
*.answer.py
*.answer.java
*.keep
*.class
*.exe
*.txt
CaesarCipherDecode.java

# Ignore the following folders
PA/
Backup/
.idea/

# Ignore specific files
blackjack_gui.py
blackjack_gui3.py
blackjack_gui_with_bet.py
blackjack_logo.png
*.keep.*
.DS_Store
CYB 2810 GitHub/Mapping of KU to Weeks
*.zip
CSC 2450 GitHub/Week 12/1. Monday/temp.ps1
CSC 2450 GitHub/Week 12/1. Monday/desktop.ini
CSC 2450 GitHub/Week 12/1. Monday/thumbs.db
