# Ignore these files
*.class
*.pyc
*.keep
*.class
*.exe
CaesarCipherDecode.java

# Ignore the following folders
PA/
Backup/
.idea/

# Ignore specific files
blackjack_gui.py
blackjack_gui3.py
blackjack_gui_with_bet.py
blackjack_logo.png
*.keep.*
.DS_Store
CYB 2810 GitHub/Mapping of KU to Weeks
*.zip
CSC 2450 GitHub/Week 12/1. Monday/temp.ps1
CSC 2450 GitHub/Week 12/1. Monday/desktop.ini
CSC 2450 GitHub/Week 12/1. Monday/thumbs.db
CSC 2450 GitHub/Week 12/2. Wednesday/main.ps1
CSC 2450 GitHub/Week 12/2. Wednesday/chat gpt.txt
CSC 2450 GitHub/Week 12/Powershell topics.txt
CSC 2450 GitHub/Week 13/1. Monday/Pester Issues Workaround.txt
CSC 1700 GitHub/Week 13/questions.txt
CSC 2450 GitHub/Week 13/main.ps1
CSC 2450 GitHub/Week 13/2. Wednesday/main.ps1
CSC 2450 GitHub/Week 13/Dest
