# Ignore these files
*.class
*.pyc
*.answer.py
*.answer.java
*.keep
*.class

# Ignore Programming Assignments folders
PA/

# Ignore specific files
blackjack_gui.py
blackjack_gui3.py
blackjack_gui_with_bet.py
blackjack_logo.png
*.keep.*
.DS_Store
CYB 2810 GitHub/Mapping of KU to Weeks
